@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v26/u-4V0qWljRw-Pd815fNqc8T_wAFcX-c37MPiNYlWniJ2hJXHx_Klwg.ttf) format('truetype');
}
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v26/u-4V0qWljRw-Pd815fNqc8T_wAFcX-c37MPiNYlWniJ2hJXH9fKlwg.ttf) format('truetype');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v26/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkV2EL7E.ttf) format('truetype');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v26/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkYODL7E.ttf) format('truetype');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v26/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkbqDL7E.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHh30wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50Xew8.ttf) format('truetype');
}
.df-jcc-aic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.df-jcc-aifs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.df-jcb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.df-jca-aic {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.df-jce-aic {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.df-jcfs-aic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.df-jcfe-aic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.df-jcfs-aifs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.df-jcsa-aifs {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: auto;
  width: 100%;
  background-color: #f3f3f3;
  gap: 2%;
}
.side {
  grid-column: 1/4;
  grid-row: 1/13;
  background-color: red;
}
.side2 {
  grid-column: 22/25;
  grid-row: 1/13;
  background-color: red;
}
.title1 {
  grid-column: 4/22;
  grid-row: 1/2;
  color: #111111;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1.6vw;
  font-weight: 700;
  height: 8vh;
}
.container-card1 {
  grid-column: 4/16;
  grid-row: 2/3;
}
.card3 {
  grid-column: 4/10;
  grid-row: 3/4;
  background-color: #ffbb00;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h3.a15 {
  display: flex;
  justify-content: flex-end;
}
.card5 {
  grid-column: 16/22;
  grid-row: 3/4;
  background-color: #0000ff;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  justify-content: space-around;
}
h3.a17 {
  display: flex;
  align-items: flex-end;
}
.card6 {
  grid-column: 4/22;
  grid-row: 4/5;
  background-color: #8000ff;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.card7 {
  grid-column: 4/14;
  grid-row: 5/6;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.card8 {
  grid-column: 14/22;
  grid-row: 5/6;
  background-color: #ff00c3;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.card9 {
  grid-column: 4/11;
  grid-row: 6/7;
  background-color: #b7ff00;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.card10 {
  grid-column: 11/16;
  grid-row: 6/7;
  background-color: #0008ff;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  height: 62vh;
}
.card11 {
  grid-column: 16/22;
  grid-row: 6/7;
  background-color: #d400ff;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.card12 {
  grid-column: 4/22;
  grid-row: 7/8;
  background-color: #00eeff;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.card13 {
  grid-column: 4/10;
  grid-row: 8/9;
  background-color: #22ff00;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card14 {
  grid-column: 10/16;
  grid-row: 8/9;
  background-color: #002aff;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card15 {
  grid-column: 16/22;
  grid-row: 8/9;
  background-color: #ff00dd;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card16 {
  grid-column: 4/10;
  grid-row: 9/10;
  background-color: #22ff00;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.a4 {
  display: flex;
  align-items: flex-start;
}
.b4 {
  display: flex;
  align-items: flex-end;
}
.card17 {
  grid-column: 10/16;
  grid-row: 9/10;
  background-color: #002aff;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.a5 {
  display: flex;
  align-items: flex-end;
}
.b5 {
  display: flex;
  align-items: flex-start;
}
.card18 {
  grid-column: 16/22;
  grid-row: 9/10;
  background-color: #ff00dd;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.card19 {
  grid-column: 4/10;
  grid-row: 10/11;
  background-color: #22ff00;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.card20 {
  grid-column: 10/16;
  grid-row: 10/11;
  background-color: #002aff;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.card21 {
  grid-column: 16/22;
  grid-row: 10/11;
  background-color: #ff00dd;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.card22 {
  grid-column: 4/10;
  grid-row: 11/12;
  background-color: #22ff00;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  justify-content: center;
}
.card23 {
  grid-column: 10/16;
  grid-row: 11/12;
  background-color: #002aff;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card24 {
  grid-column: 16/22;
  grid-row: 11/12;
  background-color: #ff00dd;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card25 {
  grid-column: 4/22;
  grid-row: 12/13;
  background-color: #ff0000;
  border-radius: 11px;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
